:root { 
--purple_A400_68:#ff00e568; 
--blue_gray_600_ab:#5b6677ab; 
--blue_A700_00:#0064ff00; 
--black_900_3f:#0000003f; 
--gray_100:#f6f6f6; 
--black_900_01:#000000; 
--deep_purple_A700_68:#3300ff68; 
--indigo_A700:#2f54eb; 
--black_900:#030723; 
--white_A700_01:#ffffff; 
--gray_100_01:#f0f5ff; 
--blue_gray_700:#455a64; 
--black_900_19:#00000019; 
--white_A700:#fcfdff; 
--red_A700:#ff0a00; 
--black_900_05:#00000005; 
}